/.idea/

/android-sbid.iml

/app/app.iml

/.gradle/1.10/taskArtifacts/cache.properties.lock
/.gradle/1.10/taskArtifacts/fileHashes.bin
/.gradle/1.10/taskArtifacts/fileSnapshots.bin
/.gradle/1.10/taskArtifacts/taskArtifacts.bin

.DS_Store

*.bin

/local.properties

